<a href="https://colab.research.google.com/github/cmsteinberg/DataScience/blob/main/HW0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1

Use the following data and create an array that stores all earners over $100,000.
<br>
employees = {'Alice' : 100000,  'Bob' : 99817, 'Carol' : 122908,  'Frank' : 88123,'Eve' : 93121}

#Question 2

Create a list of all the even squares from 1 to 1000, and sort it so it is largest to smallest.

#Question 3

Find all words in the text that are greater than 6 letters and store in a list: 
<blockquote>​Call me Ishmael. Some years ago - never mind how long precisely - having little or nomoney in my purse, and nothing particular to interest me on shore, I thought Iwould sail about a little and see the watery part of the world. It is a way I have ofdriving off the spleen, and regulating the circulation. - Moby Dick'''
</blockquote>

#Question 4

Create a new data set that includes every other data point. ​<br>
price = <br>
[[9.9,  9.8,  9.8,  9.4,  9.5,  9.7], <br> 
[9.5, 9.4, 9.4, 9.3, 9.2, 9.1], <br>
[8.4, 7.9, 7.9, 8.1, 8.0, 8.0], <br> 
[7.1, 5.9,4.8, 4.8, 4.7, 3.9]]

#Question 5

Take the data and remove the first and last two values. Create ten copies of the data stored as one list. Use plt.plot to plot it. ​<br>
cardiac_cycle = [62, 60, 62, 64, 68, 77, 80, 76, 71, 66, 61, 60, 62]

# Question 6

Create a list of any company who pays its employees less than $9 an hour <br>

companies = <br>
{'CoolCompany' : {'Alice' : 33, 'Bob' : 28, 'Frank' : 29}, <br>
'CheapCompany' : {'Ann' : 4, 'Lee' : 9, 'Chrisi' : 7},  <br>
'SosoCompany' : {'Esther' :38, 'Cole' : 8, 'Paris' : 18}}

#Question 7

zip and unzip the following two lists: <br>

​lst_1 = [1, 2, 3] <br>
and <br>
lst_2 = [4, 5, 6]

#Question 8

Given the matrices a and b. Add, subtract, multiply, and divide a by b. Find the max, min and average as well. <br>

​a = np.array([[1, 0, 0],  [1, 1, 1],   [2, 0, 0]])   <br>   

b =np.array([[1, 1, 1],  [1, 1, 2],    [1, 1, 2]])

#Question 9

Find the max salary after taxes are taken out. Here alice, bob, and tim have salaries recorded for the years 2019, 2020, and 2021. 

a.alice = [99, 101, 103]

b.bob = [110, 108, 105]

c.tim = [90, 88, 85]

d.salaries = np.array([alice, bob, tim])

e.taxation = <br>
np.array([[0.2, 0.25, 0.22], <br>
[0.4, 0.5, 0.5], <br>
[0.1, 0.2, 0.1]])

#Question 10

Increase the salary for only data scientists every other year

a.# Data: yearly salary in ($1000) [2019, 2020, 2021]

b.dataScientist =  [130, 132, 137]

c.productManager =  [127, 140, 145]

d.designer =  [118, 118, 127]

e.softwareEngineer =  [129, 131, 137]

f.employees = np.array ([dataScientist, productManager, designer,softwareEngineer])

#Question 11

Find all cities with above-average pollution peaks from a set of data.

a. Data: air quality index AQI data (row = city)

b. X = <br>
np.array([[ 42, 40, 41, 43, 44, 43 ], <br>
[ 30, 31, 29, 29, 29, 30 ], <br>
[ 8, 13,31, 11, 11, 9 ], <br>
[ 11, 11, 12, 13, 11, 12 ]])

c. cities = np.array(["Hong Kong", "New York", "Berlin", "Montreal"])

#Question 12

Given an array of temperature values, replace every seventh temperature value with the average of the last seven days (including the seventh day’s temperaturevalue).

a.# Sensor data (Mo, Tu, We, Th, Fr, Sa, Su)

b.tmp = np.array([1.1, 2.1, 3, 4.6, 3.8, 4.1, 4, 5, 3.3, 3, 4.6, 3.6, 4.2, 6, 6, 5.1, 5.2, 5.6, 4, 5, 5])

#Question 13

Create a function and/or lambda expression that checks if two words are anagrams, such as ‘elvis’ and ‘lives’

#Question 14

Create a function and/or lambda expression that checks if a phrase is a palindrome

#Question 15

Create a recursive factorial lambda