<a href="https://colab.research.google.com/github/cmsteinberg/DataScience/blob/main/PandasPractice_Set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import it into a pandas dataframe

In [27]:
import matplotlib.pyplot as plt
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/cmsteinberg/DataScience/main/Pandas_and_Basic_ML_Practice/Blank_Car_Info.csv", header = None)

   0  1   2   3    4    5         6
0  3  1  25  40  915  431  0.369963
1  1  2  10  10  325  934  0.754573
2  1  3  10  10  431  915  0.886215
3  2  3  35  35  463   10  0.971624
4  2  2  10  10  283   10  0.848398

Assign the column names as [numDoors, numCylinders, mpgHighway, mpgStreets, currentMileage, avgMileagePerTuneUp, qualityRating]

In [28]:
df.columns = ["numDoors", "numCylinders", "mpgHighway", "mpgStreets", "currentMileage", "avgMileagePerTuneUp", "qualityRating"]

   numDoors  numCylinders  ...  avgMileagePerTuneUp  qualityRating
0         3             1  ...                  431       0.369963
1         1             2  ...                  934       0.754573
2         1             3  ...                  915       0.886215
3         2             3  ...                   10       0.971624
4         2             2  ...                   10       0.848398

[5 rows x 7 columns]

Check for null values

In [5]:
df.isnull().sum()

float64
[[3.00000000e+00 1.00000000e+00 2.50000000e+01 ... 9.15000000e+02
  4.31000000e+02 3.69962948e-01]
 [1.00000000e+00 2.00000000e+00 1.00000000e+01 ... 3.25000000e+02
  9.34000000e+02 7.54572606e-01]
 [1.00000000e+00 3.00000000e+00 1.00000000e+01 ... 4.31000000e+02
  9.15000000e+02 8.86215476e-01]
 ...
 [2.00000000e+00 2.00000000e+00 3.50000000e+01 ... 3.25000000e+02
  1.00000000e+01 9.19053900e-01]
 [1.00000000e+00 1.00000000e+00 4.00000000e+01 ... 4.63000000e+02
  1.00000000e+01 8.28795078e-01]
 [2.00000000e+00 3.00000000e+00 3.50000000e+01 ... 1.00000000e+01
  9.34000000e+02 1.16761487e-01]]

Use the drive colab notebook "_2 Practice Problems, Regex, Simple ML Examples.ipynb" to run a kmeans clustering and find the centers if the data were divided into 4 categories.

In [13]:
from sklearn.cluster import KMeans
import numpy as np


kmns = KMeans(n_clusters=4).fit(df)

cc = kmeans.cluster_centers_

print(cc)

[[2.26724138e+00 2.49137931e+00 2.61853448e+01 2.52155172e+01
  8.54737069e+02 2.34806034e+02 4.89035414e-01]
 [2.41981132e+00 2.42924528e+00 2.62971698e+01 2.72169811e+01
  2.48825472e+02 8.66966981e+02 5.46785990e-01]
 [2.34146341e+00 2.47560976e+00 2.70731707e+01 2.67682927e+01
  8.75695122e+02 8.72621951e+02 5.06455425e-01]
 [2.35379061e+00 2.37184116e+00 2.68772563e+01 2.58032491e+01
  2.52176895e+02 2.45373646e+02 5.06421092e-01]]

We are given a new car with stats [2, 4, 500, 300, 150, 760, .6] find which cluster it belongs to

In [23]:
prediction = kmns.predict(np.array([2, 4, 500, 300, 150, 760, .6]).reshape(-1,7))
print(prediction)

[3]

We are given a new car with stats [2, 3, 100, 900, 500, 45] with the qualityRating unknown.  Use SVM to find it's quality rating.  I suggest that you find a way to "bin" the quality ratings so that you have only a couple of categories instead of what is given, and only then do the SVM.

In [35]:
from sklearn import svm
svm = svm.SVC().fit(df['qualityRating'].values.reshape(-1,len(df)), df)

qR = svm.predict([[2, 3, 100, 900, 500, 45]])
print(qR)

ValueError: ignored