<a href="https://colab.research.google.com/github/cmsteinberg/DataScience/blob/main/PandasPractice_Set2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Place your data in a colab notebook into a pandas dataframe

In [27]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import pandas as pd 
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/cmsteinberg/DataScience/main/Pandas_and_Basic_ML_Practice/PandasPractice_Stocks.csv")
print(df.columns) 
df.head(1250)

Index(['Date', 'SBSW', 'UMC', 'SEDG', 'DLHC ', 'CPT'], dtype='object')

           Date       SBSW    UMC        SEDG  DLHC          CPT
0     2/24/2016  12.705882   2.01   24.900000   3.20   73.830002
1     2/25/2016  13.470588   2.05   25.190001   3.14   74.260002
2     2/26/2016  13.254902   2.05   24.700001   3.19   74.279999
3     2/29/2016  14.088235   2.07   24.469999   3.11   74.739998
4      3/1/2016  13.098039   2.08   26.020000   3.20   76.760002
...         ...        ...    ...         ...    ...         ...
1245   2/3/2021  15.940000   9.41  307.079987  10.68  103.739998
1246   2/4/2021  15.990000   9.45  301.700012  10.71  103.620003
1247   2/5/2021  16.850000   9.62  308.239990  10.70  101.800003
1248   2/8/2021  17.270000  10.06  318.829987  11.18  101.959999
1249   2/9/2021  17.160000  10.35  325.920013  11.23  101.139999

[1250 rows x 6 columns]

Output the statistics for each column

In [37]:
df.describe()

              SBSW          UMC         SEDG        DLHC           CPT
count  1259.000000  1259.000000  1259.000000  1259.000000  1259.000000
mean      7.765267     2.724392    73.661072     5.817133    92.156394
std       4.418204     1.590164    77.909085     1.605920     9.754307
min       2.050000     1.640000    12.250000     3.110000    67.300003
25%       4.250000     1.940000    24.165000     4.800000    84.540001
50%       6.480000     2.300000    42.400002     5.500000    90.540001
75%      11.138628     2.640000    85.055001     6.155000    98.549999
max      20.372549    10.780000   365.970001    11.340000   120.419998

Output the covariance and correlation matrices

In [ ]:
import seaborn as sns
covMat = df.cov()


plt.rcParams.update({'font.size': 12,'figure.figsize':(20,20)})
f3 = sns.heatmap(covMat, annot=True)
plt.show() 
corMat = df.corr()

plt.rcParams.update({'font.size': 12,'figure.figsize':(20,20)})
f3 = sns.heatmap(corMat, annot=True)
plt.show()

Use a linear regression to predict the output for the next five days of one of the stocks

In [23]:
stockPrices = df['UMC']
days = df['Date']
n = len(days)


model = LinearRegression().fit(np.arange(n).reshape((n,1)), stockPrices)

print(model.predict([[n],[n + 1], [n + 2], [n + 3], [n + 4]]))

[4.26831761 4.27076829 4.27321896 4.27566964 4.27812031]

Change the data so that it is represented as a log percentage gain from the previous day. (The formula would be log[(day_1)/(day_0)] )

In [41]:
logs = []

for stocks in df.columns:
  for n in range(len(df)):
    if n == 0:
      logs.append(-1)
    else:
      logs.append(np.log(df.get_value(n, stocks))/df.get_value(n - 1, stocks))
      

df['logPercentage'] = np.array(logs)

TypeError: ignored